<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	<key>items</key>
	<array>


		<dict>
			<key>cell</key>               <string>PSGroupCell</string>
			<key>footerText</key>               <string>Displays between 06:00-11:59 (6AM-11:59AM)</string>
		</dict>
		<dict>
			<key>cell</key>               <string>PSLinkCell</string>
			<key>bundle</key>             <string>AppList</string>
			<key>isController</key>       <string>1</string>
			<key>label</key>              <string>Morning Apps</string>
			<key>ALSettingsPath</key>     <string>/var/mobile/Library/Preferences/com.jontelang.relevappspreferences.plist</string>
			<key>ALSingleEnabledMode</key>	<false/>
			<key>ALSettingsKeyPrefix</key>	<string>Morning-</string>
			<key>ALSectionDescriptors</key> <array>
				<dict>
				<key>cell-class-name</key>     			<string>ALSwitchCell</string>
				<key>icon-size</key>           				<string>29</string>
				<key>predicate</key>           				<string>(isSystemApplication = TRUE) or (isSystemApplication = FALSE)</string>
				<key>suppress-hidden-apps</key>		<string>1</string>
				<key>title</key>               					<string></string>
				</dict>
			</array>
		</dict>

		<dict>
			<key>cell</key>               <string>PSGroupCell</string>
			<key>footerText</key>               <string>Displays between 12:00-17:59 (12PM-5:59PM)</string>
		</dict>
		<dict>
		<key>cell</key>               <string>PSLinkCell</string>
		<key>bundle</key>             <string>AppList</string>
		<key>isController</key>       <string>1</string>
		<key>label</key>              <string>Daytime Apps</string>
		<key>ALSettingsPath</key>     <string>/var/mobile/Library/Preferences/com.jontelang.relevappspreferences.plist</string>
		<key>ALSingleEnabledMode</key>	<false/>
		<key>ALSettingsKeyPrefix</key>	<string>Daytime-</string>
		<key>ALSectionDescriptors</key> <array>
			<dict>
			<key>cell-class-name</key>     			<string>ALSwitchCell</string>
			<key>icon-size</key>           				<string>29</string>
			<key>predicate</key>           				<string>(isSystemApplication = TRUE) or (isSystemApplication = FALSE)</string>
			<key>suppress-hidden-apps</key>		<string>1</string>
			<key>title</key>               					<string></string>
			</dict>
		</array>
		</dict>

		<dict>
			<key>cell</key>               <string>PSGroupCell</string>
			<key>footerText</key>               <string>Displays between 18:00-23:59 (6PM-11:59PM)</string>
		</dict>
	<dict>
		<key>cell</key>               <string>PSLinkCell</string>
		<key>bundle</key>             <string>AppList</string>
		<key>isController</key>       <string>1</string>
		<key>label</key>              <string>Evening Apps</string>
		<key>ALSettingsPath</key>     <string>/var/mobile/Library/Preferences/com.jontelang.relevappspreferences.plist</string>
		<key>ALSingleEnabledMode</key>	<false/>
		<key>ALSettingsKeyPrefix</key>	<string>Evening-</string>
		<key>ALSectionDescriptors</key> <array>
			<dict>
			<key>cell-class-name</key>     			<string>ALSwitchCell</string>
			<key>icon-size</key>           				<string>29</string>
			<key>predicate</key>           				<string>(isSystemApplication = TRUE) or (isSystemApplication = FALSE)</string>
			<key>suppress-hidden-apps</key>		<string>1</string>
			<key>title</key>               					<string></string>
			</dict>
		</array>
		</dict>

		<dict>
			<key>cell</key>               <string>PSGroupCell</string>
			<key>footerText</key>               <string>Displays between 00:00-05:59 (12AM-5:59AM)</string>
		</dict>
		<dict>
		<key>cell</key>               <string>PSLinkCell</string>
		<key>bundle</key>             <string>AppList</string>
		<key>isController</key>       <string>1</string>
		<key>label</key>              <string>Night Apps</string>
		<key>ALSettingsPath</key>     <string>/var/mobile/Library/Preferences/com.jontelang.relevappspreferences.plist</string>
		<key>ALSingleEnabledMode</key>	<false/>
		<key>ALSettingsKeyPrefix</key>	<string>Night-</string>
		<key>ALSectionDescriptors</key> <array>
			<dict>
			<key>cell-class-name</key>     			<string>ALSwitchCell</string>
			<key>icon-size</key>           				<string>29</string>
			<key>predicate</key>           				<string>(isSystemApplication = TRUE) or (isSystemApplication = FALSE)</string>
			<key>suppress-hidden-apps</key>		<string>1</string>
			<key>title</key>               					<string></string>
			</dict>
		</array>
		</dict>


<dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>footerText</key>
      <string>


This tweak was created as part of Tweak Battles 2015

Thanks to: @twodayslate, @BrianOverly, OVOAustin, KaseTheAce, Josh Gibson, Adam M, Matteo Piccina, @redzrex, cj81499, twahlHD, JayFreemanBlows, Jon Ware, Kennedy, Bruno Silva, Magicka, Mahmood Ma, Andrew Redden, Julio Salazar, Conn, Chairboy, Rozersedge, myself, Fauxshow, uroboro, brcleverdon, Jason McPherson, Shadow Games, dasfalk, pixxaddict, wizage, Connor Pearson, Megachon, ThaTiemsz, Dr.J, phlooo.

If I missed someone send me an email :)</string>
  </dict>

		
	</array>
	<key>title</key>
	<string>RelevApps</string>
	</dict>
</plist>